In [1]:
## hints: Use Splinter to navigate the sites when needed and BeautifulSoup to help find and parse out the necessary data.
#Use Pymongo for CRUD applications for your database. For this homework, you can simply overwrite the existing 
#document each time the /scrape url is visited and new data is obtained.
#Use Bootstrap to structure your HTML template.

In [2]:
#Dependencies
from bs4 import BeautifulSoup as bs
import requests
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser
import pandas as pd
import os
import time
import warnings

In [3]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless = False)

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Driver [C:\Users\alext\.wdm\drivers\chromedriver\win32\87.0.4280.88\chromedriver.exe] found in cache

In [4]:
## NASA MARS NEWS
#Scrape the NASA Mars News Site
#collect the latest News Title and Paragraph Text
#Assign the text to variables that you can reference later

In [13]:
#URL of page being scraped
url= "https://mars.nasa.gov/news/"
browser.visit(url)

In [14]:
#HTML Object
html= browser.html

In [15]:
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [27]:
#Extract/Print title
latest_news = soup.find_all('div', class_="list_text")
news = latest_news[0]

news_title = news.find('div', class_='content_title').text
print(news_title)
print("-"*30)

#Extract/Print paragraph text
news_p= news.find('div', class_='article_teaser_body').text
print(news_p)

Celebrate the Perseverance Rover Landing With NASA's Student Challenge
------------------------------
The rover touches down on the Red Planet next month, and students are invited to join the excitement by designing, building, and landing their own Mars mission. NASA can help.

In [ ]:
## JPL MARS SPACE IMAGES
#Use splinter to navigate the site and find the image url for the current 
#Featured Mars Image and assign the url string to a variable called featured_image_url.
#Make sure to find the image url to the full size .jpg image.
#Make sure to save a complete url string for this image.

In [33]:
#URL of page
featured_image_url= 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(featured_image_url)

In [35]:
#HTML Object; Parse HTML with Beautiful Soup
image_html = browser.html
soup = bs(image_html, 'html.parser')

In [53]:
#Extract/Print featured image URL
featured_img_url= soup.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]

main= "https://www.jpl.nasa.gov"
featured_image_url= main + featured_img_url

featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19347-1920x1200.jpg'

In [ ]:
## MARS FACTS
#Use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
#Use Pandas to convert the data to a HTML table string

In [55]:
#URL of page
marsfacts_url= 'https://space-facts.com/mars/'

In [62]:
#Read tables and convert to pandas df
mars_facts= pd.read_html(marsfacts_url)
mars_df= mars_facts[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [68]:
mars_html= mars_df.to_html()
mars_facts_html= mars_html.replace('\n', '')
mars_facts_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'